.custom_background{
	background: #f3f3f3;
}
#name{
	font-size: 50px;
	padding: 15px;
	text-align: center;
	font-family: "Times New Roman";
}
#nav{
	background-color: #444444;
	width:95%;
	font-size: 25px;
	display: block;
	text-align: left;
	padding: 20px;
	margin: 1%;
	/* border: 15px; */
	font-family: "Arial", "Times New Roman";
}
#nav a:link{
	color: #009999;
}
#nav a:visited{
	color: #009999;
}
#nav a:hover{
	color: #00ffff;
}
